{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2 class="blog-title-cursive"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            <p class="">{{ post.get_markdown|truncatechars_html:10 }}</p>
            <span>{{ post.likes.count }} Like{{ post.likes.count|pluralize }}</span>
            <span>, {{ post.comments.count }} Comment{{ post.comments.count|pluralize }}</span>
        </div>
    {% endfor %}
    {% if posts.has_other_pages %}
      <ul class="pagination">
        {% if posts.has_previous %}
          <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in posts.paginator.page_range %}
          {% if posts.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
          <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
{% endblock %}