{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' post.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h2 class="blog-title-cursive">{{ post.title }}</h2>
        <p class="">{{ post.get_markdown }}</p>
    </div>
    <hr>
    <div id="like-section">
        {% include 'blog/like_section.html' %}
    </div>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' post.pk %}">Add comment</a>
    <hr/>

    <div id="comment-section">
        {% include 'blog/comment_section.html' %}
    </div>
{% endblock %}